.aside {
        z-index: 1000;
        background-color: #333333;
        color: #ffffff;
        text-align: center;
        padding-top: 2em;
    }

@media (max-width: 480px) {
    .aside {
        height: auto;
        min-height: auto;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;
    }
    .img {
        max-width: 100px;
    }
    .ul {
        margin-top: 0.5em;
    }
    .topPadding1EM {
        padding-top: 0.5em;
    }
}

@media (min-width: 481px) {
    .aside {
        width: 25vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
}

.h1 {
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.4em;
    margin-top: 0;
}

.img {
    border-radius: 50%;
    max-width: 140px;
}

.topPadding1EM {
    padding-top: 1em;
}

.ul {
    margin-top: 5px;
    padding-left: 0;
}


